@charset "utf-8";
    * {
    box-sizing:border-box;
    border:0;
    padding:0;
    margin:0;
}
* {
    margin:0px;
    padding:0px;
    border:none;
    outline:none;
}
address,caption,cite,code,dfn,em,th,var,i,b {
    font-style:normal;
    font-weight:normal;
}
*:before,*:after {
    box-sizing:border-box;
}
*,*:before,*:after {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
html,body,div,p,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,button,textarea,iframe,table,th,td {
    margin:0;
    padding:0;
}
img {
    border:0 none;
    vertical-align:top;
}
body,input,select,button,textarea {
    font-size:12px;
}
li {
    list-style:none;
}
input[type=button],input[type=submit],input[type=reset] {
    cursor:pointer
}
button {
    cursor:pointer
}
input[type=text],input[type=password],input[type=file],textarea {
    -webkit-border-radius:0;
    -webkit-appearance:normal
}
textarea {
    overflow:auto;
    resize:none
}
body {
    color:#333;
    font-size:14px;
    background:#fff;
    line-height:1.5;
    font-family:Microsoft Yahei,arial;
}
html {
    -webkit-text-size-adjust:none;
}
a {
    color:#333;
    text-decoration:none;
}
a * {
    *cursor:pointer
}
a:hover {
    text-decoration:none !important;
    outline:none;
}
a:focus {
    outline:none;
}
.fixed:after,.clearfix:after,.cf:after {
    content:".";
    display:block;
    clear:both;
    height:0;
    visibility:hidden;
    overflow:hidden
}
.fixed,.clearfix,.cf {
    zoom:1
}
.clear:after,.global-clearfix:after {
    content:"";
    display:block;
    visibility:hidden;
    height:0;
    clear:both;
}
.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    font-size:0;
    line-height:0;
}
.clearfix {
    *zoom:1;
}
.clear,.global-clearfix {
    zoom:1;
}
.fl,.fr {
    display:inline;
    float:left;
}
.fr {
    float:right
}
.center {
    text-align:center;
}
.hidden02 {
    display:none;
}
table {
    border-collapse:collapse;
    border-spacing:0
}
caption,th {
    text-align:left
}
th {
    font-weight:normal
}
a * {
    *cursor:pointer
}
:focus {
    outline:none
}
i {
    font-style:normal;
}
img {
    max-width:100%;
    overflow:hidden;
}
.menu_icon {
    height: 45px;
    line-height: 45px;
    padding:0px;
    position:relative;
    -webkit-box-shadow:0 2px 4px rgba(0,0,0,.08);
    box-shadow:0 2px 4px rgba(0,0,0,.08);
}
.Inn01-erSiteTop {
    text-align: center;
}
.mxjhui {
    display:block;
}
.NavBtn {   
    display:block;
   padding-top: 6px;
    height:40px;
    line-height:40px;
    outline:none;
}
.menu-handle {
    margin-top:8px;
}
.menu_lists span.jjki a {
    display:inline-block;
}
.menu_lists span.jjki {
    text-decoration:none;
    display:block;
    line-height:28px;
    font-size:13px;
    text-transform:Uppercase;
    color:#fff;
    background:rgba(255,255,255,0.1);
    outline:none;
}
.posfixed {
    position:relative;
    left:0px;
    top:0px;
    width:100%;
    background:#ffffff;
    z-index:6666;
}
.menu-handle span {
    display:block;
    width:22px;
    text-align:center;
    margin:0 auto;
    height:2px;
    background-color:#333;
}
.menu-handle span:nth-child(2) {
    margin:6px auto;
}
.black_cloth {
    display:none;
    position:fixed;
    width:100%;
    top:0px;
    height:100%;
    background:rgba(0,0,0,0.5);
    z-index:991000;
    overflow-x:hidden;
    overflow-y:hidden;
}
.Inn01-erSiteTop {
    float:left;
    width: 12%;
    margin:0px auto 0px;
}
.mxjhui { 
    width: 40px;
    text-align: center;
    display:block;
    font-family:Microsoft Yahei,arial;
}
.tiaotlNav{
    text-align: center;
    font-size: 16px;
    float: left;
    width: 76%;
    overflow:hidden;
}
.wrap_menu {
    background-color:#222222;
    z-index:10000001;
}
.wrap_menu {
    width:250px;
    position:fixed;
    top:0px;
    left:-250px;
    height:100%;
    text-align:left;
    z-index:10000001;
    overflow-y:scroll;
}
.wrap_menu li:nth-child(2) span.jjki {
    font-size:13px;
    padding-left:10px;
    display:block;
    font-weight:normal;
    color:#ffffff;
    padding-top:8px;
    padding-bottom:8px;
    background:rgba(255,255,255,0.3);
    text-align:left;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
.wrap_menu li:nth-child(2)  a {
    display:inline-block;
    font-size:15px;
    padding-left:1px;
}
.menu_lists span.jjki {
    text-decoration:none;
    display:block;
    line-height:28px;
    font-size:13px;
    text-transform:Uppercase;
    color:#fff;
    background:rgba(255,255,255,0.1);
    outline:none;
}
.menu_lists span.jjki a {
    display:inline-block;
}
.wrap_menu li a {
    display:inline-block;
}
.wrap_menu p {
    color:#fff;
    cursor:pointer;
    position:absolute;
    top:6px;
    right:15px;
    font-size:18px;
    margin-bottom:0px;
    width:45px;
    text-align:right;
}
.wrap_menu li.menu_close {
    font-size:20px;
    position:absolute;
    top:10px;
    right:15px;
    color:#fff;
    border-bottom:none;
    z-index:1000;
    text-align:right;
    width:40px;
}
.wrap_menu li {
    margin-bottom:2px;
    font-size:14px;
    position:relative;
}
.wrap_menu li a {
    text-decoration:none;
    display:block;
    line-height:30px;
    font-size:12px;
    text-transform:Uppercase;
    color:#fff;
    padding:6px 15px;
    outline:none;
}
.wrap_menu li .wrap_menu_2 a {
    display:block;
    background:none;
    color:rgba(255,255,255,0.8);
    overflow:hidden;
    line-height:30px;
    font-size:10px;
    outline:none;
    border-bottom:rgba(255,255,255,0.1) solid 1px;
}
.wrap_menu_2 {
    display:none;
}
.wrap_menu_2 a {
    display:block;
    color:#fff;
    overflow:hidden;
    line-height:24px;
    font-size:12px;
    text-decoration:none;
}
.wrap_menu_2 a i {
    float:left;
    width:4px;
    height:4px;
    background-color:#9b151c;
    margin:13px 10px 0 5px;
}
.wrap_menu_2 a span {
    float:left;
    font-size:12px;
}
.wrap_menu-imges {
    height:60px;
    overflow:hidden;
}
.mxjhui {
    font-size:14px;
}
.icon01 {
    border:solid #333;
    border-width:0 1px 1px 0;
    display:inline-block;
    padding:5px;
    transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
}
.ql-editor {
    box-sizing:border-box;
    line-height:2;
    height:100%;
    outline:none;
    padding:12px 8px;
    -o-tab-size:4;
    tab-size:4;
    -moz-tab-size:4;
    text-align:left;
}

.ql-editor2 {
    padding:12px 8px;
}

.ql-container {
    box-sizing:border-box;
    font-size:13px;
    height:100%;
    margin:0;
    position:relative;
}
.an-tabbarfixed {
    left:0;
    bottom:0;
    position:fixed;
    width:100%;
    background:#fff;
 
  
    border-top:1px solid #ebebeb;
}
.tabbarfixedUl{
     display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    width: 100%;
}
.van-tabbar {
      -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    text-align: center;
    padding-top: 4px;
}
.icon-tab {
    text-align:center;
    margin:0px auto;
}
.icon-tab img {
    height:25px;
    text-align:center;
}
.van-tabbar a {
    display:block;
    width: 100%;
}
.van-tabbar a span {
    display:block;
    width:100%;
    line-height:1.6;
    color: #71748b;
    font-size: 12px;
}
.app, .layout {
    height: 100%;
    width: 100%;
}
.layout {
    padding-bottom: 50px;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}
