{template '_header'}


<!--todo 完善-->
<div class="layout">
    <div class="clearfix posfixed">
        <div class="menu_icon clear">
            <div class="Inn01-erSiteTop ">
                <a href="javascript:window.history.back(-1);" class="mxjhui"><i class="icon01"></i></a>
            </div>
            <div class="tiaotlNav">分销员中心</div>

        </div>
    </div>




    <div class="clearfix retailCenter">
        <div class="retailCenterImgs"><img src="images/logo.png"></div>
        <div class="clearfix retailCenterForm">
            <form action="" class="tailCenterForm">
                <div class="clearfix CenterFor"><label class="CenterForLabel">手机号码</label>
                    <div class="CenterForDiv"><input type="text" placeholder="请输入手机号码" class="van-fieldcontrol02"></div>
                </div>
                <div class="clearfix CenterFor"><label class="CenterForLabel">验证码</label>
                    <div class="CenterForDiv"><input type="text" placeholder="请输入验证码" class="van-fieldcontrol02" style="width: 70%"><button class="hqyzm">获取验证码</button></div>
                </div>
                <div class="clearfix CenterFor"><label class="CenterForLabel">设置密码</label>
                    <div class="CenterForDiv"><input type="text" placeholder="请设置登录密码" class="van-fieldcontrol02"></div>
                </div>
                <div class="clearfix CenterFor"><label class="CenterForLabel">确认密码</label>
                    <div class="CenterForDiv"><input type="text" placeholder="请确认密码" class="van-fieldcontrol02"></div>
                </div>


                <div class="clearfix lCenterForm-grop" style="border:none;padding-top: 20px;"><button class="lCenterForm-gropButton" type=""><span>保存设置</span></button></div>

            </form>
        </div>
    </div>

</div>

<div class="an-tabbarfixed clearfix">
    <div class="clearfix tabbarfixedUl">
        <div class="van-tabbar ">
            <a href="">
                <div class="icon-shouye icon-tab"><img src="images/f01.png"></div><span>首页</span></a>
        </div>
        <div class="van-tabbar">
            <a href="">
                <div class="icon-shouye icon-tab"><img src="images/f02.png"></div><span>产品中心</span></a>
        </div>
        <div class="van-tabbar">
            <a href="">
                <div class="icon-shouye icon-tab"><img src="images/f03.png"></div><span>购物车</span></a>
        </div>
        <div class="van-tabbar">
            <a href="">
                <div class="icon-shouye icon-tab"><img src="images/f04.png"></div><span>我的</span></a>
        </div>
    </div>
</div>